@define-color foreground          #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background          #1c1c1c;

* {
    font-family: FiraCode;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;

    padding-left: 0.5em;
    padding-right: 0.5em;
}
#workspaces urgent {
	color: #9b0000;
}
